* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #777777;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
}

header {
    height: 100px;
    padding: 0 50px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    color: #4e4e4e;
}

#logo-nombre {
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

#logo-nombre img {
    height: 80px;
}

nav {
    width: 40%;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #aaaaaa;
    font-weight: 700;
}

a:hover {
    color: #89ff00;
}

#fotos {
    margin: 30px 0;
    justify-content: space-around;
    align-items: center;
}

#fotos div {
    background-color: white;
    width: 20%;
    max-width: 10em;
    padding: 2%;
    border: 5px solid #dddddd;
}

#fotos div span {
    font-size: 30px;
    line-height: 0;
    color: #c6c6c6;
}

#fotos div img {
    width: 100%;
}

#fotos div span:hover {
    cursor: pointer;
    cursor: hand;
    color: #89ff00;
}

#botonera {
    height: 50px;
    padding: 20px 0;
    justify-content: space-around;
}

button {
    background-color: #89ff00;
    border-width: 0;
    width: 25%;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
}

button:hover {
    background-color: #ffffff;
    color: #89ff00;
}

#textos {
    margin: 40px 0;
    justify-content: space-around;
}

#textos div {
    width: 35%;
}

#textos p {
    color: #ffffff;
    line-height: 28px;
    font-size: 18px;
}

footer {
    height: 70px;
    background-color: #6ac600;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
}

footer img {
    height: 50px;
    margin-right: 20px;
}
